<div class="container">
  <section class="cabecalho-contato">
    <div class="cabecalho-contato-texto">
      <h2>Entre em Contato</h2>
      <p>Alguma dúvida, crítica ou sugestão? <br />Entre em contato!</p>
    </div>
    <figure>
      <img src="assets/imagens/contato.png" alt="" />
    </figure>
  </section>

  <form [formGroup]="contatoForm" (ngSubmit)="onSubmit()" class="formulario">
    <fieldset>
      <div class="campo-form">
        <label for="nome">Nome</label>
        <input
          aria-describedby="nome-erro"
          [attr.aria-invalid]="contatoForm.get('nome')?.invalid"
          type="text"
          id="nome"
          placeholder="Digite seu nome completo"
          formControlName="nome"
          required
        />
        @if (contatoForm.get('nome')?.errors?.['required']) {
        <span id="nome-erro" class="erro-mensagem">Nome obrigatório </span>
        }
      </div>

      <div class="campo-form">
        <label for="email">E-mail</label>
        <input
          aria-label="Endereço de email"
          aria-describedby="email-erro-email email-erro-required"
          [attr.aria-invalid]="contatoForm.get('email')?.invalid"
          type="email"
          id="email"
          placeholder="Digite seu email"
          formControlName="email"
          required
        />
        @if (contatoForm.get('email')?.errors?.['email']) {
        <span id="email-erro-email" class="erro-mensagem"
          >Formato de e-mail inválido
        </span>
        } @if (contatoForm.get('email')?.errors?.['required']) {
        <span id="email-erro-required" class="erro-mensagem"
          >E-mail obrigatório
        </span>
        }
      </div>

      <div class="campo-form">
        <label for="telefone">Telefone</label>
        <input
          type="tel"
          id="telefone"
          placeholder="(XX) XXXX-XXXX"
          formControlName="telefone"
        />
      </div>
    </fieldset>

    <fieldset>
      <div class="campo-form">
        <label for="motivoContato">Qual o motivo do contato?</label>
        <select id="motivoContato" formControlName="motivoContato">
          <option value="" disabled selected>Selecione a melhor opção</option>
          <option value="suporte">Suporte</option>
          <option value="sugestoes">Sugestões</option>
          <option value="feedback">Feedback</option>
        </select>
      </div>
    </fieldset>

    <fieldset>
      <label for="melhorFormaContato"
        >Qual a melhor forma de retorno do seu contato?</label
      >
      <div role="radiogroup" class="campo-form">
        <ul class="radio-button">
          <li>
            <label for="email">
              <input
                type="radio"
                id="email-contato"
                formControlName="melhorFormaContato"
                value="email"
              />E-mail
            </label>
          </li>
          <li>
            <label for="telefone">
              <input
                type="radio"
                id="telefone-contato"
                formControlName="melhorFormaContato"
                value="telefone"
              />Ligação
            </label>
          </li>
          <li>
            <label for="whatsapp">
              <input
                type="radio"
                id="whatsapp"
                formControlName="melhorFormaContato"
                value="whatsapp"
              />Whatsapp
            </label>
          </li>
        </ul>
      </div>
    </fieldset>

    <fieldset>
      <div class="campo-form">
        <label for="mensagem">Mensagem</label>
        <textarea
          aria-describedby="mensagem-erro"
          [attr.aria-invalid]="contatoForm.get('mensagem')?.invalid"
          id="mensagem"
          placeholder="Digite sua mensagem"
          formControlName="mensagem"
          required
        ></textarea>
        @if (contatoForm.get('mensagem')?.errors?.['required']) {
        <span id="mensagem-erro" class="erro-mensagem"
          >Mensagem obrigatória
        </span>
        }
      </div>
    </fieldset>

    <div class="contato-botoes">
      <button type="button" class="botao-cancelar" (click)="cancelar()">
        Cancelar
      </button>
      <button
        [attr.aria-disabled]="contatoForm.invalid"
        type="submit"
        [disabled]="contatoForm.invalid"
        class="botao-enviar"
      >
        Enviar
      </button>
    </div>
  </form>
</div>

<!--
  [attr.aria-invalid] é empregado para vincular dinamicamente valores a atributos ARIA, indicando se um campo de senha está válido ou inválido com base em condições específicas,
  melhorando a experiência de pessoas que dependem de tecnologias assistivas.

  'aria-describedby' recebe o id do elemento ao qual ele vai descrever

  'aria-disabled' é empregado para vincular dinamicamente valores a atributos ARIA, indicando se um botão está habilitado ou desabilitado com base em condições específicas,
  proporcionando informações explícitas para pessoas que utilizam de leitores de tela.
-->
